body{
    margin:0;
    padding:0;
    
    margin:auto;
}


h1{
    font-family: 'Montagu Slab', serif;
}

p{
    font-family: 'Montagu Slab', serif;
}

a{
    font-family: 'Montagu Slab', serif;
}


#MAIN{
   
    width:1500px;
     margin:auto;
    display:flex;
    justify-content: center;

}


/**********************************************BLOC 1*******************************************************/

.bloc_1_contenu a
{
    color:white;
    text-decoration: none;
}

.bloc_1_contenu a:hover
{
  
    text-decoration: none;
    background-color: white;
    border-radius:10px;
    color:#4CB4E7;
    padding:5px;
}

.bloc_1_contenu 
{
    text-align:center;
    margin:40px;
}

.bloc_1_contenant
{
    font-family: 'Montagu Slab', serif;
    color:white
}

.licence
{
    background-color: white;
    border-radius:10px;
}

.icone_user{
    width:25px;
}

#bloc_1_content
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.bloc_1_contenant
{
    margin:5px;
}

#bloc_1
{
    background-color: #4CB4E7 
}

#bloc_2
{
    background-color: rgb(242, 242, 246);
    flex-grow:2;
}

/**********************************************BLOC 1*******************************************************/





/**********************************************BLOC 2*******************************************************/

.bloc_2_contenu
{
    margin-top:3%;
     font-family: 'Montagu Slab', serif;
     text-align:center;
}

.bloc_2_contenu form{
     padding:10px
}

.bloc_2_detail
{
    color:red;
}

/******tableau***************/

.bloc_2_inter_contenant_tableau_ligne_1
{
    display:flex;
   
}



/************************Page consulter.html *****************************************************/


.contenu6
{
    flex-grow: -2;
}




.bloc_2_cont
{
    display:flex;
    justify-content: space-around;  
   
}

.bloc_2_bouton_centre
{
    text-align: center;;
}

.bloc_2_contant
{
    font-family: 'Montagu Slab', serif;
}

.reduction{
    margin-top:18%;
}

.head_color
{
    background-color: #4CB4E7 ;
    color:white
}

.new_bloc
{
 
    width:100%;
   
    
}

.bloc_2_inter_contenanto
{
    width:100%;
}

.bloc_2_inter_contenant_tableau
{
    width:100%;
    background-color: yellow;
    
}


.bloc_2_inter_contenant_tableau_ligne_1
{
    background-color: green;
    width:100%;
    margin:auto;
    display:flex;
    justify-content: space-between;
}

.visu_icone_resultat
{
    width:20px;
}




/********************************************************************************************************PAGE ACCUEIL***********************************************************************************************************************************************************************************/


#MAIN_ACCUEIL
{
    display:flex;
    justify-content: center;
    align-items: center;;
}

#accueil_bloc_2_contenu
{
    text-align: center;
    display:flex;
    flex-direction:column;
    padding:10px;    
}

.red_color
{
    color:red
}
/********************************************************************************************************PAGE ACCUEIL***********************************************************************************************************************************************************************************/




/************************************************************* valider_moyen.html*********************************************************/


.bloc_liste_moyen
{
    margin-top:17%;
}



/************************************************************* valider_moyen.html*********************************************************/



/*************************maise_a_jour**********************************************************************************************/


.grande_image_pince
{
     width:30%;
}



/*************************maise_a_jour**********************************************************************************************/




/***********************tablette****************************/
@media screen and (min-width:768px) and (max-width:1200px) 
{

    
}


/**************************Smartphone***************************/
@media screen and (max-width:767px) 
{

    #MAIN{
        background-color: red;
        width:100%;
        display:flex;
        flex-direction:column;
    }

    .logo{
        width:80%;
    }

    #bloc_1
    {
        width:100%;
        
    }

    #bloc_2
    {
        text-align:center;
        
    }

    .bloc_2_cont
    {
        flex-direction:column;
    }

    .bloc_2_inter_contenant
    {
        text-align:center;
    }


/* page acceuil.html */

        #MAIN_ACCUEIL
        {
            display:flex;
            flex-direction:column;
        }

        .img_principal
        {
            height: 600px;
        }

}
/*********************Smartphone********************************/


